
<h1>Sign-in Sheet for 8/4/2016</h1>

    <div class="button">
        <button ng-click="showModal= !showModal" class="btn btn-primary">Click here to Sign In!</button>
    </div>
    <modal visible="showModal"></modal>
    <div class="container">
        <!-- Create Table object with head labels and empty body -->
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="col-md-2">Teacher</th>
                    <th class="col-md-6">Student(s)</th>
                    <th class="col-md-4">Sign-in Time</th>
                </tr>
            </thead>
            <!-- Binding topspots data from the main controller and repeating the data into the table rows -->
            <tbody id="dataTable">
                <tr ng-repeat="data in vm.topspots">
                    <td>{{data.name}}</td>
                    <td>{{data.description}}</td>
                    <td class="button">
                        <a ng-href="https://www.google.com/maps?q={{data.location[0] + ',' + data.location[1]}}" target="_blank" class="btn btn-primary active" role="button">Open in Google Maps</a>
                        <a href="" ng-click="vm.deleteTopSpot(data)" class="glyphicon glyphicon-remove
"></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>